#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-bottom: light-dark(#d3d3d3, black) solid 1px;*/
    padding: 15px 20px;
    /*background-color: light-dark(#f5f5f5, #2e2e2e);*/
    z-index: 2;

    h1 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16pt;
        letter-spacing: .5px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    a {
        color: var(--foreground-color);
        text-decoration: none;
    }

}
