:root{
    --background-color: #e6e4df;
  --primary-color: #007BFF;
    --secondary-color: #d7d1c7;
    --tertiary-color: #e0dcd4;
    --foreground-color: #000000;
    --highlight-color: #51c7cf;
    --dark-highlight-color: #002f58;
    --hover-color: #c0d5d8;
}

:host{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 

}

:host > div:first-child{
    background-color: var(--secondary-color);
    padding: 40px 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 2;
    position: relative;
}

:host> div:first-child h1{
    margin-bottom: 25px;
    color: var(--highlight-color);
    font-size: 24pt;
    font-weight: 600;

}

.form-input{
    width: 100%;
    padding: 12px 15px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14pt;
    background-color: var(--background-color);
    color: var(--foreground-color);
    transition: border-color 0.3s;

}

.form-input:focus{
    outline: none;
    border-color:var(--highlight-color);

}
button{
    background-color: var(--highlight-color);
    color: #fff;
    border: none;
    padding: 12px 25px; 
    border-radius: 6px;
    font-size: 16pt;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.11s;
    width: 100%;
}

button:hover, button:focus{
    background-color: var(--dark-highlight-color);
    transform: scale(1.03);
    outline: none;
}

#bg-cr, #bg-jf{
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 1;
}

#bg-cr{
    width: 200px;
    height: 200px;
    background-color: var(--highlight-color);
    top: -50px;
    left: -50px;
}

#bg-jf{
    width: 300px;
    height:300px;
    background-color: var(--dark-highlight-color);
    bottom: -100px;
    right: -100px;
}
